* {
    margin: 0;
    font-family: sans-serif;
}

.firs-banner {
    height: 1000px;
    background-image: url('../../assets/background (7).png');
    align-content: center;
    padding: 0px 150px;

}

.text-bn1 {
    h1 {
        font-size: 52px;
        font-weight: 900;
        line-height: 93.6px;
        letter-spacing: 1px;
        margin-top: 20px;
        color: #FFFFFF;

        span {
            color: #7772F1;
        }
    }

    button {
        font-size: 16px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 0.5px;
        width: Hug (220px)px;
        height: Hug (52px)px;
        top: 520px;
        left: 345px;
        padding: 0px 40px 0px 40px;
        gap: 10px;
        border-radius: 5px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        background-color: #ffffff00;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
    }
}

.btn-bn1 {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.bn-flex {
    display: flex;
}

.img-bn1 {
    width: 500px;
}

.features {
    margin-top: 150px;
}

.awards-div {
    display: flex;
    padding: 20px 150px;
    margin-top: 70px;

    b {
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        color: #1E212C;
        margin-right: 50px;
    }
}

.clients-img {
    padding: 50px 40px;
    margin: 100px;
}

.agency-div {
    display: flex;
    padding: 50px 150px;
    justify-content: space-between;

    img {
        width: 600px;
        height: 470px;
    }

    h1 {
        font-size: 46px;
        font-weight: 900;
        line-height: 59.8px;
        margin-bottom: 50px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        width: 400px;
        color: #787A80;
        margin: 60px 0px;
    }
}

.circl-div {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

.services-div {
    padding: 30px 150px;
    margin-top: 100px;

    h1 {
        font-size: 46px;
        font-weight: 900;
        line-height: 59.8px;
        text-align: center;
        color: #1E212C;
    }
}

.btns-service {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    button {
        font-size: 16px;
        font-weight: 700;
        line-height: 25.6px;
        text-align: center;
        color: #9A9CA5;
        background-color: white;
        border: none;
        outline: none;
        border-radius: 5px;
    }

    .v-buuton {
        padding: 6px 50px;
        color: #7772F1;
        border: 2px solid #7772F1;
    }
}

.service-text {
    width: 45%;

    h2 {
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        width: 400px;
        margin: 20px 0;
    }

    p {
        color: #424551;
        font-size: 17px;
        font-weight: 400;
        line-height: 35.6px;
    }
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 50px;
}

.btn1 {
    button {
        background-color: white;
        color: #7772F1;
        border: 2px solid #7772F1;
    }
}

.service-flex {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}

.banner2-div {
    display: flex;
    margin-top: 100px;
    padding: 50px 150px;
    justify-content: space-between;
    background-color: #1E212C;

    h2 {
        font-size: 40px;
        font-weight: 900;
        line-height: 59.8px;
        color: white;
    }

}

.inp-bn2 {
    width: 45%;

    input {
        background-color: #FFFFFF1F;
        border: 1px solid #FFFFFF33;
        width: 220px;
        height: 30px;
        outline: none;
        border: none;
        border-radius: 5px;
    }

    .inp3 {
        width: 475px;
    }
}

.inps {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.check-div {
    display: flex;
    margin-top: 50px;
    align-items: center;

    p {
        width: 315px;
        color: white;
    }
}

.questions-div {
    padding: 30px 150px;
    margin-top: 100px;

    h2 {
        font-size: 36px;
        font-weight: 900;
        line-height: 59.8px;
        margin-bottom: 30px;
        color: #1E212C;
    }

    b {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        color: #1E212C;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        color: #787A80;
        margin: 20px;
    }
    button{
        display: block;
        margin-top: 50px;
    }
}

.image-text {
    display: flex;
    align-items: start;
    justify-content: space-between;

    div {
        width: 48%;
    }
}
.benifits{
    padding: 20px 150px;
    h1{
        text-align: center;
        margin-top: 130px;
        margin-bottom: 50px;
        font-size: 50px;
        color: #1E212C;
    }
}
.ben-img{
    display: flex;
    gap: 20px;
    align-items: center;
    div{
        text-align: center;
        img{
            width: 300px;
        }
    }
}

.pricing-div{
    .price-div{
        display: flex;
    }
}